.ContainerCardapio {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.TittleCardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TittleCardapio label {
    color: var(--yellow);
    font-weight: bold;
}

.TittleCardapio h2 {
    margin: 10px auto;
}

.ContainerCategory {
    display: flex;
    width: 100%;
    margin: 25px auto;

}

.CategoryCardapio {
    display: flex;
    gap: 20px;
    padding: 16px;
    overflow: auto;
    margin: 0 auto;

}

.CategoryCardapio a {
    text-decoration: none;
    color: var(--gray);
    background-color: var(--white);
    box-shadow: 3px 4px 4px 0px rgba(128, 128, 128, 0.342);
    padding: 6px 12px;
    border-radius: 8px;

}

.CardapioContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}


.ContentCardapioItens {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--white);
    border-radius: 8px;
    transition: 0.6s ease;
    cursor: pointer;
    box-shadow: 3px 4px 4px 0px rgba(128, 128, 128, 0.355);
}

.ItemCardapio {
    display: flex;
    max-height: 100%;

}

.ImageProduct {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 5px;
    margin-top: 10px;

}

.Image {
    object-fit: cover;
    border-radius: 5px;
}

.NamePriceItem {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;

}

.TitleProduct {
    color: var(--black);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
    max-width: 90%;

}

.Description {
    font-size: 0.7rem;
    display: flex;
    flex-grow: 1;
    color: var(--gray);
}

.PriceProduct {
    margin: 8px 0px;
    font-weight: bold;
    font-size: 1.1rem;
}


.ContentCardapioItens:hover {
    background-color: var(--yellow);

}




@media (max-width: 1049px) {
    .CardapioContent {
        grid-template-columns: auto auto;
        justify-content: center;

    }

    .ContentCardapioItens {
        min-height: 80px;
        width: 100%;


    }



}

@media (max-width: 739px) {

    .CardapioContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


    }

    .ContentCardapioItens {
        margin: 0px 15px;
        width: 100%;
        display: flex;
        min-height: 80px;


    }

}