* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}

:root {
    --white: rgb(255, 255, 255);
    --yellow: #FFBF00;
    --black: #000;
    --gray: gray;
    --dark: rgba(0, 0, 0, 0.749);
    --green: #2ECC71;
    --yellow-secondary: #fee5a1;
    --color-background: #fbf5e7;
    --box-shadow : 3px 6px 5px 0px rgba(0, 0, 0, 0.050);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../../public/assets/bg-icons-2.png);
    background-color: #f4c9492b;

}

a {
    text-decoration: none;
}

p {
    color: var(--gray);
}

input[type="radio"] {
    padding: 5px;
    width: 30px;
    height: 25px;
    cursor: pointer;

}

button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.050);
    cursor: pointer;
    gap: 10px;
    transition: 0.6s ease;

}

.btnDanger {
    background-color: red;
    color: var(--white) !important;
}

.btnSuccess {
    background-color: rgb(70, 151, 70);
    color: var(--white) !important;
}

.btnWhite {
    background-color: var(--white);
    color: var(--black);
}

.btnWhite:hover {
    background-color: var(--yellow);
}

.btnYellow {
    background-color: var(--yellow);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 11px 16px;
    font-size: 0.8rem;
    transition: 0.6s ease;
}

.btnYellow:hover {
    background-color: var(--white);
    color: var(--black);
}

.btnContact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    background-color: var(--white);
    color: var(--black);
    font-size: 0.8rem;
    transition: 0.6s ease;
    gap: 5px;
}

.btnContact:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.btnContact .IconPhone {
    background-color: var(--yellow);
    display: flex;
    font-size: 1.9rem;
    padding: 8px;
    border-radius: 8px;
    color: var(--white);
}

.IconBag {
    background-color: var(--yellow);
    padding: 6px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 25px;
}