.Main {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background)
}

.Container {
    margin: 0px auto;
    max-width: 800px;
}

.CardBackground {
    background-color: var(--yellow-secondary);
    width: 100%;
    min-height: 110px;
    position: relative;
}

.Header {
    position: absolute;
    top: 18px;
    left: 8px;
    right: 8px;
    display: flex;
    margin: 30px auto;
    background-color: var(--white);
    max-width: 800px;
    border-radius: 15px;
    align-items: center;
    padding: 5px;
    box-shadow: var(--box-shadow);
}

.CardCompany {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.Infos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Infos h1 {
    font-size: 1.2rem;
    color: var(--dark);
}

.SeeMore {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SeeMore label {
    color: var(--green);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}

.SeeMore a {
    font-size: 0.8rem;
    color: var(--yellow);
    font-weight: 600;
    margin-right: 20px;
}


/* ************************* */
.Navegation {
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 800px;
}

.Category {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: auto;
    padding: 20px 10px;
}

.Category a {
    background-color: var(--white);
    padding: 8px 10px;
    font-size: 1rem;
    color: var(--black);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    width: fit-content;
    white-space: nowrap;
}

.Link01 {
    background-color: var(--yellow) !important;
}

/* ***************************** */

.ContainerCardProduct {
    max-width: 800px;
    margin: 0px auto;
}

.TitleCategory {
    padding: 5px 20px;
}


.CardProduct {
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    box-shadow: var(--box-shadow);
    padding: 5px;
    margin: 5px 15px;
    gap: 10px;
}



.ImageProduct {
    border-radius: 10px;
}

.DetailsProduct {
    display: flex;
    flex-direction: column;
}




.DetailsProduct label {
    font-weight: 600;
    color: var(--dark);
}

.DetailsProduct p {
    font-size: 0.8rem;
    
}

.DetailsProduct span {
    color: var(--yellow);
    font-weight: 600;
}